.section-about {
    align-items: center;
    background-color: #fdf2e9;
    display: grid;
    grid-template-columns: 55fr 45fr;
    margin-bottom: 9.6rem;
    padding-bottom: 9.6rem;
    padding-top: 9.6rem;
}

.about-background-image {
    background-image: url("../assets/3LeggedCrane_LOGO_LightGrayShield_lightGreen.png");
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat, repeat;
    opacity: .90;
}

.section-about-heading {
    background-color: #fdf2e9;
    display: grid;
    grid-template-columns: 55fr 45fr;
    padding-top: 9.6rem;

}

.about-text-container {
    margin-left: 10rem;
    margin-right: 10rem;
}

.about-text {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 5rem;
    text-align: left;
}