.event {
    align-items: center;
    background-color: #fdf2e9;
    display: flex;
    margin: 0 0 2rem;
    margin-bottom: 10rem;
    padding: 2rem;
    width: "100%";
}

.event-container {
    margin-bottom: 9.6rem;
}

.event-date {
    font-size: 5rem;
    font-style: italic;
    font-weight: 600;
    text-align: center;
}

.event-description p {
    font-size: 2rem;
    line-height: 1.25;
    margin-bottom: 2.5rem;
    margin-left: 5rem;
}

.event-heading-image {
    height: 10rem;
    margin-top: -6.5rem;
    padding: 0;
    width: "25%";
}

.event-image-container {
    height: 35rem;
    margin: 1rem;
    padding: 1rem;
    width: 50rem;
}

.event-link {
    color: "#cf711f";
    font-size: 1.5rem;
    margin-left: 5rem;
    text-decoration: none;
}

.event-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.event-title {
    font-size: 10rem;
    text-align: left;
}

.event-title-container {
    margin-bottom: 2.5rem;
    padding: 1rem;
}

.section-event {
    display: grid;
    grid-template-columns: 45fr 55fr;
    padding-bottom: 9.6rem;
    padding-top: 19.2rem;
}