.container {
    max-width: 180rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.grid {
    display: grid;
    row-gap: 9.6rem;
    column-gap: 6.4rem;
}

.footer {
    padding: 9.6rem 0;
    border-top: 1px solid #eee;
    background-color: #333;
}

.grid--footer {
    grid-template-columns: 1.5fr 1fr .5fr 1fr;
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: block;
    margin-bottom: 3.2rem;
}

.social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
    margin-bottom: 1rem;
}

.social-icon {
    height: 2.4rem;
    width: 2.4rem;
}

.copyright {
    font-size: 1.4rem;
    color: #767676;
    line-height: 1.6;
    margin-top: auto;
}

.contact {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}

.address {
    margin-bottom: 2.4rem;
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4.0rem;
}

.footer-col {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-link,
.footer-item {
    text-decoration: none;
    font-size: 1.6rem;
    color: #DC143C;
    transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
    color: #555;
}