.vittles-container {
    background-color: #fdf2e9;
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
}

.vittles-container {
    font-size: 3.5rem;
    margin-bottom: 5rem;
}

.vittles-description {
    font-size: 2rem;
    margin-bottom: 3.5rem;
}

.vittles-description-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.vittles-header{
    font-size: 3.5rem; 
    margin-bottom: 5rem; 
    margin-top: 5rem;
}

.vittles-price{ 
    color: #cf711f;
    font-size: 2rem }

.vittle-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}